
ion-toolbar{
    --background :rgb(246, 250, 8);
}
ion-card { 
    text-align: center; 
}
ion-label{
text-align: center; 
font-weight: bold;
}
ion-icon{
    font-size: 30px;
}
ion-img{
    width: 130%;
    height: 130%;
}